.app.light {
  --bg-color: #c7c3c3;
  --inverted-bg-color: #0b0b42;

  --primary-color: #1818e3;
  --secondary-color: #0f0fec;
  --inverted-primary-color: #13b613;
  --inverted-secondary-color: #159115;
}